# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
*.cover
*.py,cover
.cover/
*.py,chk
.cache
nosetests.xml
coverage.xml
*.coveragerc

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
*.pynb
*.ipynb.meta

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipfile.lock may need to be ignored.
Pipfile.lock
Pipfile.toml

# Poetry
# poetry.lock
# poetry-debug.toml

# Pypy
__pypy__/
__pypy3__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Sublime Text
.svn
.svn/
*.sublime-workspace
*.sublime-project

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
Thumbs.db
chats.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains
.idea/
*.iml
*.iws

# .wav files
*.wav

# PyInstaller
dist/
build/
*.spec
__pycache__/

# PyInstaller compiled files
*.exe
*.msi
*.dll
*.dat
*.ico
*.pkg
*.pyc
*.pyo
*.pyd
__pycache__/
